h1 {
    font-weight: 900;
}

body {
    background-color: gray;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-left: 20px;
    padding-top: 35px;
}

.vis-container {
    width: 80%;
    min-height: 400px;
}

.description-left {
    padding-right: 15px;
}

.description-right {
    padding-left: 15px;
}

.pure-g {
    margin-bottom: 20px;
}

