h1 {
    font-weight: 900;
}

body {
    background-color: gray;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.description-left, .description-right {
    padding-left: 25px;
}

.vis-container {
    width: 90%;
    min-height: 400px;
}

.pure-g {
    margin-bottom: 20px;
}






